/*電腦版*/
body {
  background-color: #d0e9ea;
  background-image: url(../img/pc_bg.gif);
  background-size: 100vw;
  background-repeat: no-repeat;
  font-family: "GenSenRounded TW";
  margin: 0;
  position: relative;
}
.title {
  color: #f1aaa0;
  margin: 0;
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  position: absolute;
  top: 220px;
  left: 50%;
  margin-left: -194px;
}
.select_group {
  z-index: 999;
  position: absolute;
  top: 390px;
  left: 50%;
  margin-left: -398px;
}
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../img/arrow_drop_down.svg) no-repeat scroll right center
    #f5f5f5;
  color: #e8a59c;
  box-shadow: 2px 2px 4px rgba(232, 165, 156, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  border: none;
  width: 222px;
  height: 55px;
  margin-right: 110px;
  padding-top: 6px;
  padding-left: 22px;
  font-family: "GenSenRounded TW";
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  outline: none;
  cursor: pointer;
}
select option {
  padding: 0;
  font-family: "GenSenRounded TW";
  font-weight: 500;
  font-size: 28px;
}
select::-ms-expand {
  display: none;
}
button {
  color: #f5f5f5;
  background: #f1aaa0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),
    inset 2px 2px 4px rgba(255, 215, 209, 0.5);
  border-radius: 15px;
  border: none;
  width: 125px;
  height: 55px;
  padding-top: 9px;
  padding-left: 7px;
  font-family: "GenSenRounded TW";
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
}
.result {
  z-index: 999;
  position: absolute;
  top: 470px;
  left: 50%;
  margin-left: -398px;
  font-family: "GenSenRounded TW";
  font-weight: 500;
  line-height: 40px;
}
#name {
  display: none;
  width: 796.19px;
  margin: 0;
  cursor: pointer;
}
#description {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 548px;
  display: inline-block;
  color: #e8a59c;
  margin: 0;
  background-color: #f5f5f5;
  box-shadow: 2px 2px 4px rgba(232, 165, 156, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  border: none;
  font-family: "GenSenRounded TW";
  font-weight: 500;
  font-size: 24px;
  line-height: 50px;
  z-index: 999;
  padding: 20px 50px 30px 50px;
  display: none;
}
#pc_bg-tree {
  position: fixed;
  width: 100vw;
  left: 0;
  bottom: -30px;
  background-repeat: repeat-x;
}
#pc_bg-car {
  position: fixed;
  height: 75vw;
  bottom: 0;
}
/* #top-btn {
  position: fixed;
  right: 78px;
  bottom: 78px;
  width: 55px;
  cursor: pointer;
} */
.phone_img {
  display: none;
}

/*平板版*/
@media (max-width: 1024px) {
  body {
    background-color: #d0e9ea;
    background-image: url(../img/pc_bg.gif);
    background-size: 100vw;
    background-repeat: no-repeat;
    font-family: "GenSenRounded TW";
    margin: 0;
    position: relative;
  }
  .title {
    color: #f1aaa0;
    margin: 0;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    position: absolute;
    top: 220px;
    left: 50%;
    margin-left: -194px;
  }
  .select_group {
    z-index: 999;
    position: absolute;
    top: 370px;
    left: 50%;
    margin-left: -316px;
  }
  select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../img/arrow_drop_down.svg) no-repeat scroll right center
      #f5f5f5;
    color: #e8a59c;
    box-shadow: 2px 2px 4px rgba(232, 165, 156, 0.5),
      inset 2px 2px 4px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    border: none;
    width: 200px;
    height: 55px;
    margin-right: 50px;
    padding-top: 6px;
    padding-left: 22px;
    font-family: "GenSenRounded TW";
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
    outline: none;
    cursor: pointer;
  }
  select option {
    padding: 0;
    font-family: "GenSenRounded TW";
    font-weight: 500;
    font-size: 27px;
  }
  select::-ms-expand {
    display: none;
  }
  button {
    color: #f5f5f5;
    background: #f1aaa0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),
      inset 2px 2px 4px rgba(255, 215, 209, 0.5);
    border-radius: 15px;
    border: none;
    width: 125px;
    height: 55px;
    padding-top: 9px;
    padding-left: 7px;
    font-family: "GenSenRounded TW";
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
    cursor: pointer;
  }
  .result {
    z-index: 999;
    position: absolute;
    top: 450px;
    left: 50%;
    margin-left: -316px;
    font-family: "GenSenRounded TW";
    font-weight: 500;
    line-height: 40px;
  }
  #name {
    display: none;
    width: 632.2px;
    margin: 0;
    cursor: pointer;
  }
  #description {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 528px;
    display: inline-block;
    color: #e8a59c;
    margin: 0;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 4px rgba(232, 165, 156, 0.5),
      inset 2px 2px 4px rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border: none;
    font-family: "GenSenRounded TW";
    font-weight: 500;
    font-size: 22px;
    line-height: 50px;
    z-index: 999;
    padding: 20px 50px 30px 50px;
    display: none;
  }
  #pc_bg-tree {
    position: fixed;
    width: 100vw;
    left: 0;
    bottom: -30px;
    background-repeat: repeat-x;
  }
  #pc_bg-car {
    position: fixed;
    height: 75vw;
    bottom: 0;
  }
  /* #top-btn {
  position: fixed;
  right: 78px;
  bottom: 78px;
  width: 55px;
  cursor: pointer;
} */
  .phone_img {
    display: none;
  }
}

/*手機版*/
@media (max-width: 576px) {
  body {
    background-color: #d0e9ea;
    background-image: url(../img/phone_bg.gif);
    background-size: 100vw;
    background-repeat: no-repeat;
    font-family: "GenSenRounded TW";
    margin: 0;
    position: relative;
  }
  .title {
    color: #f1aaa0;
    margin: 0;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    position: absolute;
    top: 230px;
    left: 50%;
    margin-left: -100px;
  }
  .select_group {
    z-index: 999;
    position: absolute;
    top: 306px;
    left: 50%;
    margin-left: -150px;
  }
  select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../img/arrow_drop_down_phone.svg) no-repeat scroll right
      center #f5f5f5;
    color: #e8a59c;
    box-shadow: 2px 2px 4px rgba(232, 165, 156, 0.5),
      inset 2px 2px 4px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 36px;
    margin-right: 6px;
    padding-top: 4px;
    padding-left: 8px;
    font-family: "GenSenRounded TW";
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    outline: none;
  }
  select option {
    padding: 0;
    font-family: "GenSenRounded TW";
    font-weight: 500;
    font-size: 18px;
  }
  select::-ms-expand {
    display: none;
  }
  button {
    color: #f5f5f5;
    background: #f1aaa0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),
      inset 2px 2px 4px rgba(255, 215, 209, 0.5);
    border-radius: 10px;
    border: none;
    width: 80.76px;
    height: 36px;
    padding-top: 4px;
    padding-left: 6px;
    font-family: "GenSenRounded TW";
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
  }
  .result {
    z-index: 999;
    position: absolute;
    top: 356px;
    left: 50%;
    margin-left: -166.4px;
    font-family: "GenSenRounded TW";
    font-weight: 500;
    line-height: 30px;
  }
  #name {
    /* display: none; */
    width: 339.93px;
    margin: 0;
    cursor: pointer;
  }
  #description {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 405px;
    display: inline-block;
    color: #e8a59c;
    margin: 0;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 4px rgba(232, 165, 156, 0.5),
      inset 2px 2px 4px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    border: none;
    font-family: "GenSenRounded TW";
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    z-index: 999;
    padding: 10px 20px 20px 20px;
    display: none;
  }

  /* #top-btn {
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 36px;
    cursor: pointer;
  } */
  .pc_img {
    display: none;
  }
  .phone_img {
    display: block;
  }
  #phone_bg-tree {
    position: fixed;
    width: 100vw;
    left: 0;
    bottom: -30px;
    background-repeat: repeat-x;
  }
  #phone_bg-car {
    position: fixed;
    width: 100vw;
    bottom: 0;
  }
}
